.footer {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px 70px;
    width: 1100px;
}
.gastaway_title {
    font-size: 35px;
    font-weight: 600;
}
.link-left {
    display: flex;
    flex-direction: column;
}
.link-right {
    display: flex;
    flex-direction: column;
}
.link {
    padding-bottom: 10px;
}
.gastaway-icon {
    display: flex;
    justify-content: space-between;
    width: 85px;
    margin-top: 12px;
}
.music-icon {
}
.mas {
    padding-right: 15px;
}
